<section
  id="our-outlets"
  class="standard-padding"
  uk-scrollspy="target: h3, .product-image, .product-card; cls: uk-animation-fade; delay: 100"
>
  <h3
    id="products-heading"
    class="section-heading"
    uk-scrollspy-class="uk-animation-slide-left-small"
  >
    <span class="heading-part-underlined">Fea</span>
    <span class="heading-part">tured</span>
    <span class="amsterdam">Outlets</span>
  </h3>
  <div id="products-cards">
    <div class="product-card" uk-scrollspy-class="uk-animation-scale-up">
      <img src="../../../../assets/img/product-1.png" class="product-image" />
      <div class="product-content">
        <h4 class="product-heading">Cafe</h4>
        <p class="product-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam
          tenetur at, maxime labore ab facilis autem incidunt deserunt
          inventore.
        </p>
        <a href="" class="product-link">Know More</a>
      </div>
    </div>
    <div class="product-card" uk-scrollspy-class="uk-animation-scale-up">
      <img src="../../../../assets/img/product-2.png" class="product-image" />
      <div class="product-content">
        <h4 class="product-heading">Fine Dining</h4>
        <p class="product-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam
          tenetur at, maxime labore ab facilis autem incidunt deserunt
          inventore.
        </p>
        <a href="" class="product-link">Know More</a>
      </div>
    </div>
    <div class="product-card" uk-scrollspy-class="uk-animation-scale-up">
      <img src="../../../../assets/img/product-3.png" class="product-image" />
      <div class="product-content">
        <h4 class="product-heading">Confectionary</h4>
        <p class="product-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam
          tenetur at, maxime labore ab facilis autem incidunt deserunt
          inventore.
        </p>
        <a href="" class="product-link">Know More</a>
      </div>
    </div>
    <div class="product-card" uk-scrollspy-class="uk-animation-scale-up">
      <img src="../../../../assets/img/product-4.png" class="product-image" />
      <div class="product-content">
        <h4 class="product-heading">Hotel</h4>
        <p class="product-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam
          tenetur at, maxime labore ab facilis autem incidunt deserunt
          inventore.
        </p>
        <a href="" class="product-link">Know More</a>
      </div>
    </div>
  </div>
</section>
