<footer uk-scrollspy="target: #footer-left, #footer-center, #footer-right; cls: uk-animation-fade; delay: 150">
  <div id="footer-left">
    <img src="../../../assets/img/viraj-white.svg" alt="Viraj Logo" class="logo-image" />
    <ul id="social-links" uk-scrollspy="target: .social-link-li; cls: uk-animation-slide-left-small; delay: 100">
      <li class="social-link-li">
        <a href="" target="_blank" class="social-link"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="social-link-li">
        <a href="" target="_blank" class="social-link"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="social-link-li">
        <a href="" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="social-link-li">
        <a href="" target="_blank" class="social-link"><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </div>
  <div id="footer-center-and-right">
    <div id="footer-center">
      <ul id="miscellaneous-links"
        uk-scrollspy="target: .miscellaneous-link; cls: uk-animation-slide-bottom-small; delay: 150">
        <li class="miscellaneous-link-li">
          <a href="" class="miscellaneous-link">Disclaimer</a>
        </li>
        <li class="miscellaneous-link-li">
          <a href="" class="miscellaneous-link">Terms & Conditions</a>
        </li>
        <li class="miscellaneous-link-li">
          <a href="" class="miscellaneous-link">Privacy Policy</a>
        </li>
        <li class="miscellaneous-link-li">
          <a href="" class="miscellaneous-link">Our Stores</a>
        </li>
        <li class="miscellaneous-link-li">
          <a href="" class="miscellaneous-link">Help Desk</a>
        </li>
      </ul>
    </div>
    <div id="footer-right" uk-scrollspy="target: .footer-contact-box; cls: uk-animation-slide-bottom-small; delay: 150">
      <div class="footer-contact-box">
        Phone:<a href="tel:+91999922222" class="footer-contact">+91 99992 2222</a>
      </div>
      <div class="footer-contact-box">
        Email:<a href="mailto:example@gmail.com" class="footer-contact">example@gmail.com</a>
      </div>
      <div class="footer-contact-box">
        Address:
        <address class="footer-contact">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias,
          incidunt.
        </address>
      </div>
    </div>
  </div>
</footer>