<section id="our-stores" uk-scrollspy="target: iframe, #stores-content, #stores-heading; cls: uk-animation-fade; delay: 100">
  <iframe
    src="https://www.google.com/maps/d/embed?mid=1fvJOP8GDOpEOCbxkXcnVewNGDroO0dHJ&ehbc=2E312F"
    id=""
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    uk-scrollspy="cls:uk-animation-fade"
  ></iframe>
  <div id="stores-content" uk-scrollspy="cls:uk-animation-fade">
    <h3
      id="stores-heading"
      class="section-heading"
      uk-scrollspy="cls:uk-animation-slide-left-small"
    >
      <span class="heading-part-underlined">Ou</span>
      <span class="heading-part">r Stores</span>
    </h3>
    <div id="locations" uk-scrollspy="target: .location; cls: uk-animation-scale-up; delay: 100">
        <div class="location">
            <h4 class="location-heading">Location 1</h4>
            <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eos?</address>
        </div>
        <div class="location">
            <h4 class="location-heading">Location 1</h4>
            <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eos?</address>
        </div>
        <div class="location">
            <h4 class="location-heading">Location 1</h4>
            <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eos?</address>
        </div>
        <div class="location">
            <h4 class="location-heading">Location 1</h4>
            <address>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eos?</address>
        </div>
    </div>
  </div>
</section>
