<section id="about">
  <div
    id="about-container"
    class="standard-padding"
    uk-scrollspy="target: h3, .about-image, .about-heading, .about-paragraph, .about-link; cls: uk-animation-fade; delay: 100"
  >
    <h3
      id="about-heading"
      class="section-heading"
      uk-scrollspy-class="uk-animation-slide-left-small"
    >
      <span class="heading-part-underlined">We</span>
      <span class="heading-part">are</span>
      <img
        src="../../../../assets/img/viraj-yellow.svg"
        alt="Viraj"
        class="logo-image"
      />
    </h3>
    <div id="about-content">
      <div class="about-content-box">
        <p
          class="about-paragraph"
          uk-scrollspy-class="uk-animation-slide-left-small"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          quibusdam, voluptatem, molestiae illo hic alias beatae dolor soluta
          laboriosam architecto ipsum excepturi ad iste. Eos at iste libero
          eveniet eligendi.
        </p>
        <p
          class="about-paragraph"
          uk-scrollspy-class="uk-animation-slide-left-small"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, amet
          unde libero atque corporis assumenda molestiae laboriosam nemo?
          Mollitia reiciendis maiores, exercitationem deserunt ducimus sapiente.
        </p>
        <a href="" class="about-link" uk-scrollspy-class="uk-animation-scale-up"
          >Know More</a
        >
      </div>
      <div
        class="about-content-box"
        uk-scrollspy-class="uk-animation-slide-left-small"
      >
        <img
          src="../../../../assets/img/about-pic-1.png"
          class="about-image"
          uk-scrollspy-class="uk-animation-scale-up"
        />
        <h4
          class="about-heading"
          uk-scrollspy-class="uk-animation-slide-left-small"
        >
          Rich Tradition
        </h4>
        <p
          class="about-paragraph"
          uk-scrollspy-class="uk-animation-slide-left-small"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem aut
          reiciendis corrupti officiis perspiciatis. Placeat nam, nemo
          architecto natus fuga atque incidunt mollitia est quasi.
        </p>
      </div>
      <div
        class="about-content-box"
        uk-scrollspy-class="uk-animation-slide-left-small"
      >
        <img
          src="../../../../assets/img/about-pic-2.png"
          class="about-image"
          uk-scrollspy-class="uk-animation-scale-up"
        />
        <h4
          class="about-heading"
          uk-scrollspy-class="uk-animation-slide-left-small"
        >
          Royal Hospitality
        </h4>
        <p
          class="about-paragraph"
          uk-scrollspy-class="uk-animation-slide-left-small"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
          voluptates optio ratione, et voluptatibus necessitatibus doloribus,
          facere, maxime fugiat aut provident culpa qui harum quas!
        </p>
      </div>
    </div>
  </div>
  <div
    id="services"
    class="standard-padding"
    uk-scrollspy="target: .service-image, .service-content; cls: uk-animation-fade; delay: 100"
  >
    <div class="service">
      <img
        src="../../../../assets/img/location.png"
        class="service-image"
        uk-scrollspy-class="uk-animation-slide-bottom"
      />
      <div class="service-content" uk-scrollspy-class="uk-animation-slide-top">
        <h4 class="service-heading">Setup a Location</h4>
        <p class="service-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh
          nisi,
        </p>
      </div>
    </div>
    <div class="service">
      <img
        src="../../../../assets/img/indoor-decorations.png"
        class="service-image"
        uk-scrollspy-class="uk-animation-slide-bottom"
      />
      <div class="service-content" uk-scrollspy-class="uk-animation-slide-top">
        <h4 class="service-heading">Indoor Decorations</h4>
        <p class="service-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh
          nisi,
        </p>
      </div>
    </div>
    <div class="service">
      <img
        src="../../../../assets/img/catering-services.png"
        class="service-image"
        uk-scrollspy-class="uk-animation-slide-bottom"
      />
      <div class="service-content" uk-scrollspy-class="uk-animation-slide-top">
        <h4 class="service-heading">Catering Services</h4>
        <p class="service-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh
          nisi,
        </p>
      </div>
    </div>
  </div>
</section>
