<!-- <section id="contact-us" class="standard-padding">
  <div id="contact-container">

    <h3 id="contact-heading" class="section-heading" uk-scrollspy="cls:uk-animation-slide-left-small">
      <span class="heading-part-underlined">Con</span>
      <span class="heading-part">tact Us</span>
    </h3>
    <div id="form-and-logo">
      <form action="" method="post" uk-scrollspy="target: input, textarea, button; cls: uk-animation-slide-top; delay: 100">
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="text" name="subject" placeholder="Subject" required />
        <textarea name="message" placeholder="Message" required></textarea>
        <button type="submit">Send Message</button>
      </form>
      <div id="logo-container" uk-scrollspy="target: #logo-image, h1, h2; cls: uk-animation-fade; delay: 150">
        <img src="../../../../assets/img/viraj-logo.png" id="logo-image">
        <h1>Viraj Hospitality</h1>
        <h2>Group of Hotels & Chains of Restaurants</h2>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="contactBox">
    <div class="centerWrapper">
      <h3 uk-scrollspy="cls:uk-animation-slide-left-small">
        <span>Con</span>tact Us
      </h3>
      <form action="" method="post"
        uk-scrollspy="target: input, textarea, button; cls: uk-animation-slide-top; delay: 100">
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="text" name="subject" placeholder="Subject" required />
        <textarea name="message" placeholder="Message" required></textarea>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
  <div class="contactBranding">
    <!-- <div class="container">
      <i class="fa-brands fa-facebook"></i>
      <div>
        Facebook
        <span>/virajHotel</span>
      </div>
    </div>
    <div class="container">
      <i class="fa fa-phone"></i>
      <div>
        Phone
        <span>+911234567890</span>
      </div>
    </div>
    <div class="container">
      <i class="fa fa-mail-bulk"></i>
      <div>
        Mail
        <span>contact@virajhotel.com</span>
      </div>
    </div>
    <div class="container">
      <i class="fa fa-globe"></i>
      <div>
        Website
        <span>virajhotel.com</span>
      </div>
    </div> -->
  </div>
</section>